{% extends 'shop/basic.html' %}

{%block title%}About Us {% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><b>My Ice-Cream Cart</b></h1>
      <p>My Ice-Cream Cart Private Limited, d/b/a My Ice-Cream Cart is an Indian e-commerce company based in Mumbai, India. It was founded by Siddhesh Dhonde and Vedant Dhonde in 2020. The company initially focused on ice-cream product sales, before expanding into other product categories such as dairy product, fruits, chocolates, and Cake.</p>
      
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Siddhesh Dhonde</h2>
        <p><h4>Chairman</h4></p>
        <p><h4>Phone:9022792610</h4></p>
        
      </div>
      <div class="col-md-4">
        <h2>Nischay Ghadge</h2>
        <p><h4>CEO</h4></p>
        <p><h4>Phone:9022792620</h4></p>
        
      </div>
      <div class="col-md-4">
        <h2>Yatin Chaudhari</h2>
        <p><h4>Managing Director</h4></p>
        <p><h4>Phone:9022792630</h4></p>
        
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock body %}